.grid{
    display:grid;
    grid-template-columns: auto auto auto auto ;
    justify-content:center;
    position: relative;
    top:22vh;
    
}
.grid-item{
 border: 1px black solid;
 height: 4vh;
 width: 2vw;
 background: linear-gradient(135deg, #c0c0c0, #ffd700, #e6e6e6, #b8860b);
}
input{
    position: relative;
    left: 48.4vw;
    height: 4vh;
    top:14vh;
    width: 6.5vw;
    border-radius: 26px;
    background-color: transparent;
    border: none;         
     color: black;    
}
*{
    padding: 0;margin: 0;
}
body{
    
    background: linear-gradient(135deg, #00aaff, #0055ff, #0022aa);
    overflow-x: hidden;
}
img{
    height: 55vh;
    position: relative;
    top: 25vh;
}
h1{
    position: relative;
    left: 39vw;
    /* top: 30vh; */
}
.contacts{
    position: relative;
    bottom: 49vh;
}

.container{
    position: relative;
    top: 20vh;
    height: 55vh;
    background-image: url(img.png);
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width:650px) and (max-height:950px){
    h1{
        position: relative;
        /* top: 30vh; */
        left: 0vh;
    }
    input{
        position: relative;
        height: 4vh;
        top: 14vh;
        width:35vw;
        border: 1px black solid;
        border-radius: 26px;
        left: 14vh;
        background-color: transparent;
        border: none;         
         color: black;            
    }
    .grid{
        display:grid;
        grid-template-columns: auto auto auto auto ;
        justify-content:left;
        position: relative;
        top: 25vh;
        left: 13vh;
        width: 35vh;
    }
    .grid-item{
        width: 4vh;
    }
    .container{
        position: relative;
        top: 20vh;
        height: 55vh;
        background-image: url(img.png);
        background-position: left; /* Centers the image */
        background-repeat: no-repeat;
        background-size: contain;
    }
    
}
